<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZNÁŠ NERA 6 WEB APP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_index.css') }}">
    
</head>
<body>
    <h1>ZNÁŠ NERA 6 WEB APP</h1>
    <div id="pass">
        <input id="teamid" type="text" placeholder="Team ID.">
        <button id="loginbutton">OK</button>
    </div>
    <div id ="logininfo">Info: {{msg}}</div>
    <script src="{{ url_for('static', filename='scripts/script_index.js') }}"></script>
</body>
</html>