<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZNÁŠ NERA WEB APP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <h2>ZNÁŠ NERA 7?</h2>
    <p>Team name: {{tn}}</p>
    <div id="codeinput">
        <input id="levelcode" type="text" placeholder="Kód stanoviště.">    
        <button class="mbutton" id="confirm">OK</button>
    </div>
    <div id ="textinfo" class={{msgcolor}}>Info: {{msg}}</div>
    <div>
        <button class="mbutton" id="showimg">UKAŽ FOTKU</button>
        <button class="mbutton" id="showhint">UKAŽ NÁPOVĚDU</button>
    </div>
    <div id="hintlabel"></div>
    <div id="hinttime"></div>
    <script src="{{ url_for('static', filename='scripts/script_main.js') }}"></script>
</body>
</html>